.AppDiv {
    display: flex;
    justify-content: space-between;
}

.one {
    padding: 20px;
    justify-content: center;
}

#main1 {
    background-color: #4a4e69;
    border-radius: 10px;
    color: white;
    text-align: justify;
}